body {
    margin: 0;
    padding: 30px;
    font-family: Arial;
    background-color: #0f172a;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #1e293b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #3b82f6;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #334155;
}

tr:nth-child(even) {
    background-color: #273449;
}

tr:hover {
    background-color: #334155;
}

.cijena {
    text-align: right;
    font-weight: bold;
    color: #22c55e;
}

.preporuceno {
    background-color: #14532d;
    font-weight: bold;
}